*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background: brown;
  color: white;
  text-align: center;
  padding: 20px;
}

.details {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}

.details > * {
  background: rgb(171, 81, 81);
  color: white;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.details > *:hover{
    background-color: rgb(232, 153, 56);
    color: black;
}
@media (min-width: 768px) {
  .details {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .details {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


a {
  text-decoration: none;
  list-style: none;
  color: black ;
}

a:hover {
  color: blue;
}

a:active {
    color: brown;
    text-decoration: underline;
    transition: 0.3s ease-in-out;
    cursor: progress;
}